pipeline/PL_REST_API_TO_DEVADLS.json
{
	"name": "PL_REST_API_TO_DEVADLS",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://my-vaulttq.vault.azure.net/secrets/rest-api-key/faf448229baf42c1b44d986a26016995?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['response']"
								},
								"sink": {
									"path": "$['response']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "DS_REST_API_TO_DEVADLS",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@activity('Web1').output.value",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sourceads_to_devadls_source_info",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@concat('airlines/Date_Part=',formatDateTime(utcnow(),'yyyy-mm-dd'),'/airlines.json')",
								"type": "Expression"
							},
							"container": "raw"
						}
					}
				]
			}
		],
		"annotations": []
	}
}